[submodule "Books"]
	path = Books
	url = https://github.com/tim099/Books.git
[submodule "BookNotes"]
	path = BookNotes
	url = https://github.com/tim099/BookNotes.git
[submodule "Tools"]
	path = Tools
	url = https://github.com/tim099/Tools.git
[submodule "TRPG"]
	path = TRPG
	url = https://github.com/tim099/TRPG.git
[submodule "ArtGallery"]
	path = ArtGallery
	url = https://github.com/tim099/ArtGallery.git
[submodule "ChatTavern/baton/letters/summit"]
	path = ChatTavern/baton/letters/summit
	url = https://github.com/zeta-summit/summit
[submodule "WorkMemory"]
	path = WorkMemory
	url = https://github.com/tim099/WorkMemory.git
[submodule "ChatTavern/baton/letters/Sirius"]
	path = ChatTavern/baton/letters/Sirius
	url = https://github.com/basecamp05122026-cyber/Sirius.git
[submodule "ChatTavern/baton/letters/gura"]
	path = ChatTavern/baton/letters/gura
	url = https://github.com/basecamp05122026-cyber/gura.git
[submodule "ChatTavern/baton/letters/apex-one"]
	path = ChatTavern/baton/letters/apex-one
	url = https://github.com/basecamp05122026-cyber/apex-one.git
[submodule "Sculpture"]
	path = Sculpture
	url = https://github.com/tim099/Sculpture.git
[submodule "MBTI"]
	path = MBTI
	url = https://github.com/tim099/MBTI.git
