[submodule "Books"]
	path = Books
	url = https://github.com/tim099/Books.git
[submodule "BookNotes"]
	path = BookNotes
	url = https://github.com/tim099/BookNotes.git
[submodule "Tools"]
	path = Tools
	url = https://github.com/tim099/Tools.git
[submodule "TRPG"]
	path = TRPG
	url = https://github.com/tim099/TRPG.git
[submodule "ArtGallery"]
	path = ArtGallery
	url = https://github.com/tim099/ArtGallery.git
